<?php
defined('BASEPATH') OR exit('No direct script access allowed');

// AWS S3 SETTINGS
$config['s3_access_key'] = 'YOUR_ACCESS_KEY_HERE';
$config['s3_secret_key'] = 'YOUR_SECRET_KEY_HERE';
$config['s3_bucket_name'] = 'bucket_name';
$config['s3_region'] = 'your_region';

// CHATMITRA WHATSAPP SETTINGS
$config['cm_api_url'] = 'https://backend.chatmitra.com/developer/api/send_message';
$config['cm_bearer_token'] = 'YOUR_TOKEN_HERE';

// DATABASE SETTINGS (LOCAL)
$config['db_hostname'] = 'localhost';
$config['db_username'] = 'root';
$config['db_password'] = '';
$config['db_database'] = 'your_db_name';
?>
